body {
  font-family: Arial;
}

#header {
  text-align: right;
  margin: 20px 20px 148px 20px;
}

#header #menu {
  background-image: url(http://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
  background-position: -132px -38px;
  background-size: 528px 68px;
  display: inline-block;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

#header a {
  margin-left: 12px;
}

#header .textlink {
  text-decoration: none;
  color: grey;
  font-size: .8em;
}

#header .textlink:hover {
  text-decoration: underline;
}

#header #signin {
  background-color: #4286f4;
  color: white;
  text-decoration: none;
  padding: 8px 11px;
  border-radius: 2px;
  font-size: 0.8em;
  font-weight: bold;

}

#google {
  /*border: 1px solid grey;*/

  width: 960px;
  margin: 0 auto;
  text-align: center;
}

#google #search {
  margin-top: 30px;
  padding-left: 10px;
  width: 560px;
  height: 38px;
  font-size: 1em;
  border: none;
  box-shadow: 1px 1px 5px grey;
}

#google div {
  margin-top: 30px;
}

#google div input {
  color: grey;
  font-weight: bold;
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  box-sizing: border-box;
}

#google div input:hover {
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin: -1px;
  color: black;
  box-sizing: border-box;
}


#footer{
  border-bottom: 1px solid lightgrey;
  position: relative;
  top: 45px;
  padding-top: 0px;
}

#footer li {
  list-style-type: none;
  margin-right: 9px;
  display: inline-block;
  font-size: .8em;
  text-decoration: none;
  color: lightgrey;
  vertical-align: top;
  margin-bottom: -5px;
}

#footer a {
  text-decoration: none;
  color: grey;
}

#footer a:hover {
  text-decoration: underline;
}

#leftfooter {
  float: left;
}

#rightfooter {
  float:right;
}
